<!DOCTYPE html>
{% autoescape true %}
<script> 
var localbonds = "";
var localstoich = "";

var temp = '';
temp += '\t"complexDefinition": [\n';
if( $.cookie('jsonbonds') != null){    
    temp += $.cookie('jsonbonds');
}
temp += ']';

$("#bondsjsonarea").val(temp);

temp = '';
temp += '\t"modificationDefinition": {\n';
if( $.cookie('jsonstoich') != null){    
    temp += $.cookie('jsonstoich');
}
temp += '}';

$("#stoichjsonarea").val(temp);


function generateJson() { 
    //var txt="document.getElementById("result").value; "
    //var txt = "{\n";
    localbonds = "";
    localstoich = "";
    var txt = "";
    //txt += '\t"reactionDefinition" : [\n';
    //txt += '\t],\n';
    txt += '\t"complexDefinition" : [\n';

    if( $.cookie('jsonbonds') != null){    
        localbonds += $.cookie('jsonbonds');
        localbonds += ',';
    }
    {% for radioIdx in range(bonds|length) %}
        if($(!$("#bonds_{{radioIdx}}").prop("checked") && $("#bonds_{{radioIdx}}").prop("checked"))) {
            localbonds += $('input[name=bonds_{{radioIdx}}]:checked','#atoform').val();
            {% if(radioIdx < bonds|length -1 ) %}
                localbonds += ",";
            {% endif %}
            localbonds += "\n";
        }
    {% endfor %}
    txt += localbonds;

    txt += '\t]';

    $("#bondsjsonarea").val(txt);
    
    txt = '';
    txt += '\t"modificationDefinition": {\n';
    if($.cookie('jsonstoich') != null){    
        localstoich += $.cookie('jsonstoich');
    }
    {% for radioIdx in range(stoich|length) %}
        if($(!$("#stoich_{{radioIdx}}").prop("checked") && $("#stoich_{{radioIdx}}").prop("checked"))) {
            localstoich += $('input[name=stoich_{{radioIdx}}]:checked','#atoform').val();
            {% if(radioIdx < stoich|length -1 ) %}
                localstoich += ",";
            {% endif %}
            localstoich += "\n";
    }
    {% endfor %}    

    txt += localstoich;

    txt += '\t}';
    
    //txt += '\t"partialComplexDefinition" : [\n';
    //txt  += '\t]\n';

    


    //txt += '}';

    $("#stoichjsonarea").val(txt);
    //Cookies.set('jsonbonds', 'localbonds', { expires: 7 });
    //Cookies.set('jsonstoich', 'localstoich', { expires: 7 });

     return true;

};

function jsonFields() { 
     //$('#atoform').append("<input type='hidden' name='jsonbonds' value='"+localbonds+"' /> <input type='hidden' name='jsonstoich' value='"+localstoich+"' />");
    //Cookies.set('jsonbonds', 'localbonds', { expires: 7 });
    //Cookies.set('jsonstoich', 'localstoich', { expires: 7 });
     $.cookie("jsonbonds", localbonds);
     $.cookie("jsonstoich", localstoich);


     return true;
};

</script>
{{message|safe}}



<form class="pure-form pure-form-stacked" id="atoform" name="atoform" action="/postprocess" method="post" onsubmit="jsonFields()">
Atomizer needs direction in determining the full graph structure of the following complexes. Please select from the following options the right protein-protein interaction (or provide your own).<br/>
<fieldset>
<div class="pure-g">
    {% for bond in bonds %}
        <div class="pure-u-1">

            <b>{{bond[0]}}</b>
            {% set rowloop = loop %}
        </div>
        {% for sample in bond[1] %}
        <div class="pure-u-1">
            <input type="radio" class="bonds_{{rowloop.index0}}" name="bonds_{{rowloop.index0}}" value="{{sample[1]}}"> {{sample[0]}}<br/>
        </div>

        {% endfor %}
    {%endfor %}
    </div>
</fieldset>
The stoichiometry of the following complexes is unclear
<fieldset>
    <div class="pure-g">
    {% for st in stoich %}
        <div class="pure-u-1">

            <b>{{st[0]}}</b>
            {% set rowloop = loop %}
        </div>
        {% for sample in st[1] %}
        <div class="pure-u-1">
            <input type="radio" class="stoich_{{rowloop.index0}}" name="stoich_{{rowloop.index0}}" value="{{sample[1]}}"> {{sample[0]}}<br/>
        </div>

        {% endfor %}
    {%endfor %}

    </div>
    <button type="button" class="button-success pure-button" onclick="generateJson();">Generate JSON</button>

<textarea id="bondsjsonarea" name="bondsjsonarea" rows="10" cols="100">
</textarea>
<textarea id="stoichjsonarea" name="stoichjsonarea" rows="10" cols="100">
</textarea>

    <button type="submit" class="button-success pure-button">Submit</button><br/>

</form>

{{atolink|safe}}
{{loglink|safe}}

{% endautoescape %}
