{% extends "pages/template.html" %}

{% block title %}SBML2BNGL{% endblock %}

{% block content %}
      <h2>
        SBML 2 BNGL
      </h2>
     <form action="{{ action }}" class="pure-form pure-form-stacked" method="post" enctype="multipart/form-data">
          <fieldset>
    <legend>Model submission: </legend>
       <input type="file" class="pure-button" name="file" accept=".xml,.sbml" required><br>
      <input id="atomID" type="checkbox" name="atomize" value="atomize" checked> Atomize</label>
      <legend>User configuration file (Optional): </legend>

       <input type="file" class="pure-button" name="userconf" accept=".json"><br> 

      <!--
      <div><select name=reaction>
        {% for option in reactionDefinition %}
      <option>{{ option }}</option>
    {% endfor %}
      </select></div>
      -->
      <input type="submit" class="button-success pure-button" value="Submit">
    </fieldset>
    </form>
{% endblock %}
{% block aside %}
      <h3>
        Current version
      </h3>
      <p>
      May 31, 2016
      </p>
{% endblock %}